<h1>Hello, <%= @name %>!</h1>

<% if current_user.present? %>

  <a href="/logout" data-method="delete">
    Log out
  </a>
  <br>

  <a href="/profile">My profile</a><br>

  <% if current_user.role == "admin" %>
    <a href="/users">All profiles</a>
  <% end %>

<% else %>

  <a href="/signup">Sign up</a><br>
  <a href="/login">Log in</a><br>

<% end %>

